<div class="container">
  <div class="row">
    <div class="col-4 offset-4" style="background-color: #DCC2A1; margin-top: 40px;">
      <h4 class="text-center"><strong>投稿詳細</strong></h4>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">

    <div class="col-md-8">
      <div class="card-body">
        
        <div class="col-md-4 mx-auto">
          <% if @post.image.attached? %>
            <%= image_tag url_for(@post.image), size: "300x300" %>
          <% else %>
            <p>No image attached</p>
          <% end %>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
            <h4 class="card-title">投稿者</h4>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              <% if @post.customer.image.attached? %>
                <%= image_tag url_for(@post.customer.image), size: "80x80" %>
              <% else %>
                <p>No image</p>
              <% end %>
              <%= @post.customer.full_name %>
            </p>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
            <h4 class="card-title">ペット</h4>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              <% if @post.pet.image.attached? %>
                <%= image_tag url_for(@post.pet.image), size: "80x80" %>
              <% else %>
                <p>No image</p>
              <% end %>
              <%= @post.pet.name %>
            </p>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
            <h4 class="card-title">タイトル</h4>
          </div>
          <div class="col-md-8">
            <p class="card-text"><%= @post.title %></p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <h4 class="card-title">本文</h4>
          </div>
          <div class="col-md-8">
            <p class="card-text"><%= @post.body %></p>
          </div>
        </div>
        
        <div>
          <p>コメント件数：<%= @post.comments.count %></p>
          <% @post.comments.each do |comment| %>
            <p>
              <% if comment.customer.present? && comment.customer.image.attached? %>
                <%= image_tag url_for(comment.customer.image), size: "100x100" %>
              <% else %>
                <p>No image available</p>
              <% end %>
            </p>
            <%= comment.customer.full_name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <% if comment.customer == current_customer %>
              <%= link_to "コメント削除", post_comment_path(comment.post, comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>

        <div class="row mt-3">
          <div class="col-md-2 text-center">
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
            <%= link_to "投稿を削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
