<div class="container">
  <div class="row">
    <div class="col-4" style="background-color: #DCC2A1; margin-top: 40px;">
      <h4 class="text-center"><strong>ペット一覧</strong></h4>
    </div>
  </div>
  <table class="table" style="border-top: 1px solid #C3A78F">
    <thead class="table" style="background-color: #DCC2A1;">
      <tr>
        <th>ペット画像</th>
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
        <th>血統</th>
        <th>血種</th>
        <th>紹介文</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td>
            <% if pet.image.attached? %>
              <%= image_tag url_for(pet.image), size: "100x100" %>
            <% else %>
              <p>No image attached</p>
            <% end %>
          </td>
          <td><%= link_to pet.name, pet_path(pet), style: "color: black; text-decoration: underline;" %></td>
          <td><%= pet.age %></td>
          <td><%= pet.gender_i18n %></td>
          <td><%= pet.breed_type_i18n %></td>
          <td><%= pet.mix_breed_info %></td>
          <td><%= pet.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>